<div class="itemDiv">
  <a href="/itemDetails?itemName=<%=itemName%>">
    <img src="images/<%=itemName%>.jpg" alt="" class="itemImage" />
    <p class="itemName" title="<%=name%>"><%= name %></p>
    <div class="stars">
      <% for (let i = 0; i < star; i++) { %> <% if (i+1 > star) { %>
      <span class="material-symbols-outlined star">star_half</span>
      <% } else { %>
      <span class="material-symbols-outlined star">star</span>
      <% } %> <% } %>
    </div>
    <p class="itemPrice"><%= price %>&dollar;</p>
    <button class="addCart">Add to Cart</button>
  </a>
</div>
